@using Microsoft.AspNetCore.Identity
@model IEnumerable<Idea>
@inject UserManager<IdentityUser> UserManager

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Idea List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Idea" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add Idea
            </a>
        </div>
    </div>

    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Content</th>
                <th>Category</th>
                <th>Topic</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="30%">@obj.Text</td>
                    <td width="15%">@obj.Category.Name</td>
                    <td width="15%">@obj.Topic.Name</td>
                    <td width="15%">@obj.CreatedDate.ToString("dd/MM/yyyy")</td>
                    <td width="15%">@obj.ApplicationUser.UserName</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Idea" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-warning mx-2"><i class="bi bi-pencil-square"></i></a>
                            <a asp-controller="Idea" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>