@model IEnumerable<Topic>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Topic List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Topic" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add New Topic
            </a>
        </div>
    </div>

    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Topic Name</th>
                <th>Idea Closure Date</th>
                <th>Final Closure Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                    @* Display date and time in a readable format *@
                    <td>@obj.ClosureDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@obj.FinalClosureDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Topic" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Topic" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>